@font-face {
  font-family: 'MaterialIcons';
  font-style: normal;
  src: url(icons.woff2) format('woff2');
}

*{
  box-sizing: border-box;

  --nav-width: calc(10vw + 110px);
  --header-height: 150px;

  --project-blue: #1a92d3;
  --project-yellow: #ffbe27;
  --project-grey: #e2e8f0;
}

body{
  font-family: 'Roboto', system-ui, sans-serif;
}

nav{
  width: var(--nav-width);
  padding: 12px;
  height: 100vh;
  position: fixed;
  z-index: 2;
  display: grid;
  grid-template-rows: repeat(3, max-content);
  gap: 28px;

  background-color: var(--project-blue);
  color: white;
  padding: 2%;
}

.logo{
  display: flex;
  gap: 12px;
  align-items: center;
  cursor: pointer;
  user-select: none;
}
.logo h2{
  font-size: 24px;
  font-weight: 600;
}
.logo-grid{
  width: 30px;
  height: 30px;
  display: grid;
  grid-template-columns: 14px 14px;
  gap: 4px;
}
.flex{
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.flex:first-child{
  flex-direction: column-reverse;
}
.cell{
  background-color: white;
  flex: 3;
}
.cell:first-child{
  flex: 2;
}

.nav-gr1, .nav-gr2{
  display: grid;
  grid-template-rows: repeat(6, max-content);
  font-weight: 600;
}
.home::before,
.profile::before,
.messages::before,
.history::before,
.tasks::before,
.communities::before,
.settings::before,
.support::before,
.privacy::before{
  margin-right: 12px;

  font-family: 'MaterialIcons';
  font-weight: 500;
  font-variation-settings: 'FILL' 1;
  font-size: 24px;
}
.home::before{
  content: '\e88a';
}
.profile::before{
  content: '\e708';
}
.messages::before{
  content: '\e0b7';
}
.history::before{
  content: '\e889';
}
.tasks::before{
  content: '\e1dd';
}
.communities::before{
  content: '\f233';
}
.settings::before{
  content: '\e8b8';
}
.support::before{
  content: '\e887';
}
.privacy::before{
  content: '\ea17';
}
.navbtn{
  display: flex;
  align-items: center;
  padding: 10px 0 10px 12px;
  cursor: pointer;
  user-select: none;
  border-radius: 50px;
}

header{
  width: calc(100vw - var(--nav-width));
  position: fixed;
  left: var(--nav-width);
  display: grid;
  z-index: 1;
  grid-template-rows: 1fr 2fr;
  gap: 16px;
  
  height: var(--header-height);
  background-color: white;
  box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.4);
  padding: 8px  40px;
}

.top-bar{
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  gap: 40px;
}
form:has(#search){
  display: flex;
  align-items: center;
}
label[for='search']{
  font-family: 'MaterialIcons';
  font-size: 24px;
  padding-right: 16px;
}
input#search{
  display: block;
  flex: 1;
  background-color: var(--project-grey);
  caret-color: grey;
  color: rgb(56, 56, 56);
  border: none;
  border-radius: 100px;
  outline: none;
  height: 25px;
  padding: 18px 16px;
  font-size: 16px;
}


.personal-controls{
  display: flex;
  align-items: center;
  gap: 24px;
}
.notifications, .star, .eye, .share{
  font-family: 'MaterialIcons';
  font-size: 24px;
  padding: 8px;
  border-radius: 50px;
  cursor: pointer;
  user-select: none;
}
.top-bar-profile{
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
  user-select: none;
}
.avatar{
  width: 40px;
  height: 40px;
  background-image: url(img/Frame-14.png);
  background-size: contain;
}
.personal-controls h2{
  font-weight: 700;
  text-wrap: nowrap;
}


.controls{
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto auto auto;
  gap: 12px;
}
.controls .avatar{
  width: 65px;
  height: 65px;
}
.controls h3{
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 4px;
}
.controls h1{
  font-size: 20px;
  font-weight: 600;
}
.controls button{
  background-color: var(--project-blue);
  color: white;
  border: none;
  border-radius: 50px;
  padding: 8px 28px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
}


main{
  position: relative;
  left: var(--nav-width);
  width: calc(100vw - var(--nav-width));
  top: calc(var(--header-height) + 12px);
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 24px 20px;

  padding: 18px 24px 18px 16px;
}

main h1{
  font-size: 18px;
  font-weight: 500;
}
main h2{
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}
main p{
  font-size: 14px;
  color: grey;
}

.projects{
  display: flex;
  flex-direction: column;
  grid-row: 1 / 3;
}
.cards{
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 16px;
  padding-top: 12px;
}
.card{
  display: grid;
  grid-template-columns: 1fr repeat(3, 40px);
  grid-template-rows: 1fr auto;
  gap: 4px;
  position: relative;

  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  padding: 16px 16px 16px 24px;
}
.projects .card::before{
  content: '';
  display: block;
  background-color: var(--project-yellow);
  height: 100%;
  width: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  position: absolute;
  left: 0;
  top: 0;
}
.card-text{
  grid-column: 1 / 5;
}
.star, .eye, .share{
  font-family: 'MaterialIcons';
  font-size: 24px;
  font-weight: 300;
}
.star{
  grid-column-start: 2;
}

.announcements .card{
  height: fit-content;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  gap: 30px;

  margin-top: 12px ;
  padding-left: 16px;
}
.announcement{
  position: relative;
}
.announcement::after{
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgb(183, 183, 183);
  position: absolute;
  bottom: -15px;
}
.announcement:last-child::after{
  visibility: hidden;
}


.trending .card{
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;

  margin-top: 12px;
  padding-left: 16px;
}
.trending .avatar{
  grid-row: 1 / 3;
}
.user{
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  gap: 6px 8px;
}
.trending h2{
  margin: 0;
}
.trending .user:nth-child(1) .avatar{
  background-image: url(img/Frame-13.png);
}
.trending .user:nth-child(2) .avatar{
  background-image: url(img/Frame-12.png);
}
.trending .user:nth-child(3) .avatar{
  background-image: url(img/Frame-11.png);
}
.trending .user:nth-child(4) .avatar{
  background-image: url(img/Frame-17.png);
}


.credit{
  font-size: 11px;
  position: absolute;
  bottom: 12px;
  left: 12px;
}
.credit a{
  color: #bbd8ff;
}
